body {
    background-image: url(../image/background_continuity_common.png);
    color: #444;
    margin: 0;
    font-family: 'Microsoft YaHei';
}

a,input{
    border: 0 solid ;
    
}
    
.tool-item-style-frame>.tool-item-frame {
    width: 25%;
}
.tool-item-style-frame .style_blue {
    background: #3c9bff;
}

.tool-item-style-frame .style_black {
    background: #2f2f2f;
}

.tool-item-style-frame .style_red {
    background: #ff3c3c;
}

.tool-item-style-frame .style_green {
    background: #0dacb1;
}

.tool-item-style-frame .style_yellow {
    background: #FFC107;
}



a, p, li, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.top-frame,.foot-frame{
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    
}
.top-frame{
    margin: 0;
    padding: 0;
    height: 40px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: rgba(233, 233, 233, 0.4);
}
.foot-frame{
    margin: 30px 0 0 0;
    padding: 10px 0;
}
.top-frame>p ,.foot-frame>p,.foot-frame>div{
    margin: 0;
}
.top-frame>p {
    padding: 10px;
}
.foot-frame>p,.foot-frame>div{
    padding: 1px;
}