body {
    background-image: url(../image/background_continuity_common.png);
    color: #444;
    margin: 0;
    font-family: 'Microsoft YaHei';
}

a,input{
    border: 0 solid ;
    
}


a, p, li, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button,
#search-submit{
    -webkit-appearance : none ;
}
/* +++++++++++++++++++++++++++++head+++++++++++++++++++++++++++++ */

.head {
    text-align: center;
    margin: 35px 5px;
}

.head>.title {
    margin: 0 auto;
    display: inline-block;
    color: #fff;
}

.head>.title>img {
    width: 300px;
    height: 100px;
    float: left;
}

.head>.title>h1 {
    font-size: 40px;
    margin: 5px;
    float: left;
}

.head>.title>p {
    float: left;
    padding-top: 15px;
}

.contrainer {
    overflow: hidden;
    padding: 5px;
}

.main-content {
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 480px) {
    .head>.title>img {
        width: 210px;
        height: 70px;
    }
}

@media (min-width: 480px) {
    .head>.title>img {
        width: 240px;
        height: 80px;
    }
    .main-content {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .head>.title>img {
        width: 270px;
        height: 90px;
    }
    .main-content {
        width: 736px;
    }
}

@media (min-width: 980px) {
    .head>.title>img {
        width: 300px;
        height: 100px;
    }
    .main-content {
        width: 950px;
    }
}
/* -----------------------------head----------------------------- */
.top-frame,.foot-frame{
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    
}
.top-frame{
    margin: 0;
    padding: 0;
    height: 40px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: rgba(233, 233, 233, 0.4);
}
.foot-frame{
    margin: 30px 0 0 0;
    padding: 10px 0;
}
.top-frame>p ,.foot-frame>p,.foot-frame>div{
    margin: 0;
}
.top-frame>p {
    padding: 10px;
}
.foot-frame>p,.foot-frame>div{
    padding: 1px;
}
.foot-frame>p>a{
    color:#fff;
    text-decoration-line: none;
}
    
/* +++++++++++++++++++++++++++++++主题+++++++++++++++++++++++++++++++ */

.tool-item-style-frame>.tool-item-frame {
    width: 25%;
}
.tool-item-style-frame .style_blue {
    background: #3c9bff;
}

.tool-item-style-frame .style_black {
    background: #2f2f2f;
}

.tool-item-style-frame .style_red {
    background: #ff3c3c;
}

.tool-item-style-frame .style_green {
    background: #0dacb1;
}

.tool-item-style-frame .style_yellow {
    background: #FFC107;
}

/* -------------------------------主题------------------------------- */


/* +++++++++++++++++++++++++++++工具链接+++++++++++++++++++++++++++++ */

.tool-item-link-frame>.tool-item-frame {
    width: 33.3333%;
}

/* -----------------------------工具链接----------------------------- */