.site-manage {
    width: 100%;
    border: 0 solid;
    border-radius: 0 0 4px 4px;
    background: #f6f6f6;
    margin-top: 30px;
}

@media (max-width: 480px) {
    .site-manage {
        margin-top: 15px;
    }
}

@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 980px) {}

.site-manage>p {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    display: block;
    text-align: center;
    color: rgba(0, 153, 255, 1);
    background-color: rgba(233, 233, 233, 0.8);
    padding: 0;
    margin: 0;
}

.site-manage>.tool-link {
    width: 100%;
    overflow: hidden;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.site-manage>.tool-link>a {
    padding: 10px;
	height: 25px;
    line-height: 25px;
	font-size: 15px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #555;
}

.site-manage>.tool-link>a:hover {
    background-color: #ddd;
}